doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Node_Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 비대면 화상 진료 
        main 
            div#welcome
                form
                    input(placeholder="진료실 코드", required, type="text")
                    button 진료실 입장
            div#room 
                h3
                ul 
                form
                    input(placeholder="message", required, type)
                    button Send 
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")